{% extends "base.html.twig" %}

{% block title %}Programmes{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>La saison {{ season.number }} de la série
            <a href="{{ path('wild_show_program', { 'slug': slug }) }}">
                {{ season.program.title }}
            </a>
        </h1>
        {% for episode in season.episodes %}
            <div class="mt-5">
                <h2>{{ episode.title }}</h2>
                <p>{{ episode.synopsis }}</p>

            </div>
        {% else %}
            Aucun épisode trouvé.
        {% endfor %}
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}
